extends ../layout/main

block css-links
  link(rel="stylesheet" href="/css/store.css")

block content
  - const search_action = '/store'
  include ../components/search
  .container
    h4 Latest Wears
    .wears 
      .wear 
        img(src="/compressed/img_8772-min-removebg-preview.png" alt="")
        .info
          .title Byw
      .wear 
        img(src="/compressed/img_8846-min-removebg-preview.png" alt="")
        .info
          .title Byw
      .wear 
        img(src="/compressed/img_8711-min-removebg-preview.png" alt="")
        .info
          .title Byw
      .wear 
        img(src="/compressed/img_8760-min-removebg-preview.png" alt="")
        .info
          .title Byw