extends ../layout/main

block content
	.container
		h1.theme Product Page

	.row
		.col-sm-8.col-md-5 
			.product-info
				.gallery
					img(src="/img/" alt="" srcset="")
					img(src="/img/" alt="" srcset="")
					img(src="/img/" alt="" srcset="")
		.col-sm-4.col-md-7
			.product-details
				h2 [product name]	
