nav.navbar.navbar-expand-sm
	button.navbar-toggler(data-target='#nav1' data-toggle='collapse')
		span.fa.fa-bars

	.collapse.navbar-collapse#nav1
		ul.navbar-nav
			li
				a(href="/") Home
			li
				a(href="/store") Store
			li
				a(href="/collections") Collections

	ul.navbar-nav 
		li
			a(href="/cart")#cart-link-icon 
				i.fas.fa-shopping-cart 
		li 
			a(href="#!").theme-toggler
				i.fa.fa-moon