.search-bar.p-2#search-bar(tabIndex=0)
	form(action=search_action method="get")
		input#search(type="search" name="search" placeholder='Search for products, collections, categories')
		button(type="submit") Search
		ul#list-search-results