extends layout/main

block content 
  .container 
    h1 404

    p Oops, this page does not exist or has been moved to another location. Please check the url and try again.
    a(href="/") Go back to home page 