extends layout/main

block css-links
  link(rel="stylesheet" href="/css/store.css")

block content 
  .container
    p.h2 Cart
    #cart-list
 
  .container.center
    button.add-to-cart Proceed To Checkout


block scripts 
  script(src="/js/cart.js") 
