extends layout/main

block css-links 
	link(rel="stylesheet" href="/css/index.css")
	link(rel="stylesheet" href="/css/store.css")


block content
	.container.p-0
		.showcase.mt-5
			.img-display
				img(src="/compressed/IMG_2753-min.JPG" alt='').d-none.d-sm-block
				img(src="/compressed/IMG_2677ret-min.jpg" alt='').d-none.d-md-block
				img(src="/compressed/IMG_2672retouched-min.jpg" alt='').d-none.d-md-block
				img(src="/compressed/IMG_2738ret222-min.jpg" alt='')
			.text-display
				.center
					//- h1 カイゼンへようこそ
					h1.theme /&dot;kaizen&dot;/ - (n)
					p.f-2 Japanese: “kai-” means “change”<br> and “-zen” means “good.”

	.container.bg-white.mt-4
		h3.center.theme Latest

		.releases.mt-3
			//- Load new releases
			each release in releases
				.col-sm-4.col-md-3.col-6.release(style=`background: tomato url('${release.img}') no-repeat;background-size: cover;background-position: 50%;`)
					a(href='/new-releases')
						p.title= release.title
						p.info= release.info

		h4.mt-4 Latest Wears
		.wears 
			a(href="/store/product/1").wear 
				img(src="/compressed/img_8772-min-removebg-preview.png" alt="")
				.info
					.title Byw 1
			.wear 
				img(src="/compressed/img_8846-min-removebg-preview.png" alt="")
				.info
					.title Byw
			.wear 
				img(src="/compressed/img_8711-min-removebg-preview.png" alt="")
				.info
					.title Byw
			.wear 
				img(src="/compressed/img_8760-min-removebg-preview.png" alt="")
				.info
					.title Byw