doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    block css
    title KAIZEN
  body
    header 
      nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
        a.navbar-brand KAIZEN
    block content 

    script(src="/js/jquery.min.js")
    block scripts 